<div class="content-description">
    <section>
        <h1 class="description-heading">Hello!  🎶 </h1>
        <p class="description-paragraphe" style="justify-content: center; font-weight: bold; font-size: 20px;">
            Start exploring now and let the melodies unfold! 
        </p>
        <br>
        <p class="description-paragraphe">
            <ol class="steps-list">
                <li>Choose one of the available playlists that best represents your music tastes.</li>
                <li>Pick another playlist to serve as the foundation for personalized song recommendations.</li>
            </ol>
        <br>
        <br>  
        <h1 class="description-heading">Enjoy the sounds! 🎵</h1>          
        <p class="description-paragraphe" style="justify-content: center; font-weight: bold; font-size: 20px;">
            If necessary, extract your playlist's data by entering its ID.
        </p>
    </section>
    
</div>



