<app-welcome></app-welcome>

<div class="content">
    <div class="left-side">
        <section class="extract-card">
            <h2 class="extract-card-heading">0. Extract playlists</h2>
            <p class="extract-card-paragraphe">Insert the id of the playlist to extract its data</p>

            @if(isExtracting) {
                <mat-progress-bar mode="query" class="dashboard-progress-bar"></mat-progress-bar>
            }

            <section class="extract-card-form">
                <form class="form-with-space">
                    <input class="extract-form" type="text" placeholder="Playlist's id" #extract />
                    <button class="primary" type="button" (click)="extractPlaylist()">Extract</button>
                </form>
            </section>
            @if(hasExtracted) {
                <p class="success-message" style="margin-top: 0;">Playlist extracted!</p>
            }
            @if(noIdToExtract) {
                <p class="error-message" style="margin-top: 20px;">Please, provide a playlist id to extract.</p>
            }
            
        </section>

        <section class="playlist-card">
            <h2 class="playlist-card-heading">1. Your tastes</h2>
            <p class="playlist-card-paragraphe">Choose a playlist that represents your tastes</p>
            <section class="playlist-card-dropdown">
                <form class="form-with-space">
                    <select class="playlist-dropdown" #trainPlaylist>
                        @for (availablePlaylist of availablePlaylists; track availablePlaylist)
                        {
                            @if (availablePlaylist.id == selectedPlaylists.id_playlist_train)
                            {
                                <option value="{{ availablePlaylist.id }}" selected>{{ truncatePlaylistName(availablePlaylist.name) }}</option>
                            }
                            @else {
                                <option value="{{ availablePlaylist.id }}">{{ truncatePlaylistName(availablePlaylist.name) }}</option>
                            }
                        }
                    </select>
                </form>
            </section>
            @if(idsAreEqual) {
                <p class="error-message" style="margin-top: 20px;">Please, select two different playlists</p>
            }
        </section>
        
        <section class="playlist-card">
            <h2 class="playlist-card-heading">2. Let's discover</h2>
            <p class="playlist-card-paragraphe">Choose a playlist from which get recommendations</p>
            <section class="playlist-card-dropdown">
                <form class="form-with-space">
                    <select  class="playlist-dropdown" #testPlaylist>
                        @for (availablePlaylist of availablePlaylists; track availablePlaylist)
                        {
                            @if (availablePlaylist.id == selectedPlaylists.id_playlist_test)
                            {
                                <option value="{{ availablePlaylist.id }}" selected>{{ truncatePlaylistName(availablePlaylist.name) }}</option>
                            }
                            @else {
                                <option value="{{ availablePlaylist.id }}">{{ truncatePlaylistName(availablePlaylist.name) }}</option>
                            }

                        }
                    </select>
                <button class="primary" type="button" (click)="getRecommedation()">Get recommendations!</button>                    
                </form>
            </section>
            @if(idsAreEqual) {
                <p class="error-message" style="margin-top: 20px;">Please, select two different playlists</p>
            }
        </section>


    </div>

    <div class="right-side">
        <section class="recommendation-card">
            <h2 class="recommendation-card-heading">3. Recommended songs</h2>

            @if(recommendedSongs.length == 0)
            {
                @if (isRecommending) {
                    <p class="recommendation-card-paragraphe">
                        ✨Magic in progress✨
                    </p>
                    <mat-progress-bar mode="query" class="dashboard-progress-bar"></mat-progress-bar>
                }
                @else {
                    <p class="recommendation-card-paragraphe">
                        No recommendations yet.
                        <br>
                        Please, select the playlists you want to use.
                    </p>
                }
            }
            @else {
                <p class="recommendation-card-paragraphe">Select the songs you liked</p>
            }
            <ul class="recommendation-card-list" #recs>
                @for (recommendedSong of recommendedSongs; track recommendedSong)
                {
                    <li class="recommendation-item" value="{{ recommendedSong.name }}">
                        <div>
                            <mat-checkbox style="color: #1DB954; margin-right: 20px;" (click)="countLiked(recommendedSong.name)">
                                <span style="color: white;">{{ recommendedSong.name }}</span>
                            </mat-checkbox>
                            <p>{{ recommendedSong.artist }}</p>
                        </div>

                    </li>
                }
            </ul>
            
            @if(recommendedSongs.length != 0) {
                <h2 class="recommendation-card-accuracy">Accuracy: <span style="color: white;">{{ accuracy }}%</span></h2>
            }
            
        </section>
    </div>
</div>