
<div class="content">
    <section class="extract-card">
        <h2 class="extract-card-heading">Extract playlists</h2>
        <p class="extract-card-paragraphe">Insert the id of the playlist to extract its data</p>
        <section class="extract-card-form">
            <form class="form-with-space">
                <input class="extract-form" type="text" placeholder="Playlist's id" #extract />
                <button class="primary" type="button" (click)="extractPlaylist(extract.value)">Extract</button>
            </form>
        </section>
    </section>
    
</div>
